
data/Tara_Depth_Info.csv
data/Tara_Biodiversity.csv
data/Tara_Env_Meso_SampleLocation.csv
data/Tara_Environmental_Mesoscale.csv
data/Tara_merged.csv
data/Tara_merged_info.csv
data/Tara_Bio_Info.csv
data/Tara_Environmental_Depth.csv
data/Tara_merged_NEW.csv
data/duplicates.csv
data/Tara_merged_sort.xlsm
data/Tara_merged_NEW_sorted.csv
data/Tara_merged_sorted.csv
data/Tara_Meso_Info.csv
data/Tara_Meso_SL_Info.csv
data/TARA_registies_mesoscale.tab
data/TARA_sample_enviro.tab
data/TARA_sample_biodiv.tab
data/TARA_SAMPLES_CONTEXT_ENV-WATERCOLUMN.tab
data/.DS_Store
.DS_Store
data/Tara_merged_mesoSL.csv
data/Tara_Plot.csv
data/Tara_Cleaned.csv
newplot.png
data/TARA_SAMPLES_CONTEXT_ENV-DEPTH-NUT_20170515.xlsx
data/Tara_Env_Nut.csv
data/OSD_registies.tab
data/OSD_data_info.csv
data/OSD_data.csv
data/Meso_Unique_Info.csv
data/Meso_Unique.csv
data/Bio_Unique.csv
data/Depth_Unique.csv
data/Bio_Unique_Info.csv
data/Depth_Unique_Info.csv
data/Tara_BMN_Cleaned.csv
data/Tara_merged_BMN.csv
data/Tara_Nutri_cols.csv
data/Tara_Nutri_Info.csv
data/SST/AQUA_MODIS.20091227_20091231.L3m.8D.SST.sst.9km.nc
data/Tara_SST.csv
data/SST/NOAAGlobalTemp_v6.0.0_gridded_s185001_e202401_c20240208T152650.nc
data/SST/oisst-avhrr-v02r01.20090910.nc
data/SST/sst.wkmean.1990-present.nc
data/Tara_SST_09.csv
data/Tara_SST_10.csv
data/Tara_SST_11.csv
data/Tara_SST_12.csv
data/Tara_SST_13.csv
data/Tara_SST_Plot.csv
data/Delete/Bio_Unique_Info.csv
data/Delete/Bio_Unique.csv
data/Delete/Depth_Unique_Info.csv
data/Delete/duplicates.csv
data/Delete/Depth_Unique.csv
data/Delete/Meso_Unique_Info.csv
data/Delete/Meso_Unique.csv
data/Delete/OSD_data_info.csv
data/Delete/OSD_data.csv
data/Delete/OSD_registies.tab
data/Delete/Tara_merged_mesoSL.csv
data/Delete/Tara_merged_NEW_sorted.csv
data/Delete/Tara_merged_NEW.csv
data/Delete/Tara_merged_sort.xlsm
data/Delete/Tara_merged_sorted.csv
data/Delete/Tara_merged.csv
data/SST/sst.day.mean.2009.nc
data/SST/sst.day.mean.2010.nc
data/SST/sst.day.mean.2011.nc
data/SST/sst.day.mean.2012.nc
data/SST/sst.day.mean.2013.nc
